---
# Feel free to add content and custom Front Matter to this file.
# To modify the layout, see https://jekyllrb.com/docs/themes/#overriding-theme-defaults

layout: home
---


Welcome to Yu Yang's ENGR 110 blog. This blog's purpose is to track my project's progress. My project is to create a stadiometer for Pediatric Wellness Group. Currently, they have two stadiometers on site but the two measurements often give different results. Furthermore, kids tend to move around a lot so they need a solution that can measure height relatively quickly compared to their current solution. We will be working on top of projects that have been done by the groups before us, improving and perhaps changing some of the work that they have done. You can view my posts in order to follow my progress. 


<br>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQjbRnM4EoZyzXP7-Xx6ZF4-eE2xIIm2TVx_BH8kh_RXboL45VdoZdgx6U9kq2Wp2yjRiLvwVx7ymd0/embed?start=false&loop=false&delayms=60000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSJMRY-o7wlcUtBSOZOJC2Z53ehRqDPEyS0fUY-Z8Gu9YPkpMFBvyIbfKHE9b4NxNwZjTs0RzcZAS54/embed?start=true&loop=true&delayms=3000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>