---
layout: page
title: Project information
permalink: /timeline/
---

<h1> Timeline </h1>
<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSeMSbIo-sqsrQR_ERWgBzqkPmRv-LXop14IqOsj180Glnj3eYaO_D2XTPSYxfu24lH3KkeF8FSwBZf/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false" width=100% height=450px></iframe>

<h1> Team reflection </h1>

<a href="https://drive.google.com/a/scu.edu/file/d/1JMmIF5mvR_E8Owi7f6FLlPBC3PA1ZyVq/view?usp=sharing">Link</a>

<h1> Project status presentation </h1>

<a href="https://docs.google.com/presentation/d/1sIsQJ2mvkwWwxmxT-08PHQDqxQANwMY2RmiiNh6vsIo/edit?usp=sharing">Link</a>

<h1> Team reflection 2 </h1>

<a href="https://docs.google.com/document/d/e/2PACX-1vRTjD3Tg7TxU6pL_xYrUuhgVUjHlgfu8wcX-8mBNOXRu6IqpVe-gV7qmFdeZlzmGn61OduLWHKLAajR/pub">Link</a>

<h1> Final report </h1>

<a href="https://drive.google.com/a/scu.edu/file/d/1C8UfLbzaqz-w3KM9XLsvz9g02RSbt2NK/view?usp=sharing">Link</a>

<h1> Final presentation </h1>

<a href="https://docs.google.com/presentation/d/1sIsQJ2mvkwWwxmxT-08PHQDqxQANwMY2RmiiNh6vsIo/edit?usp=sharing">Link</a>